.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 65.5vh; */
    /* margin-top: 9%; */
    margin-top: 7em;
    margin-bottom: 9.7em;
}

.inputFields{
    display: flex;
    flex-direction: column;
}

.sign{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 20px;
}

.inputField{
    max-width: 10em;
}